In [1]:
import cx_Oracle
import numpy as np
import pandas as pd
from faker import Faker
from datetime import datetime, timedelta
from random import randrange
from datetime import timedelta
import random
import time


fake = Faker("ko_KR")

In [2]:
# cx_Oracle.init_oracle_client(lib_dir=r"C:/Oracle/instantclient_19_19")

# connection = cx_Oracle.connect(user='DA2311', password='Data2311', dsn='dinkdb_high')
connection = cx_Oracle.connect(user='scott', password='tiger', dsn='192.168.119.119:1521/dink11.dbsvr')
cursor = connection.cursor()
cursor.close()

In [3]:
cursor = connection.cursor()
sql="select * from category"
cursor.execute(sql)

rows = cursor.fetchall()
cursor.close()
columns = ['category_id','category_big','category_middle','category_small']
trancategory = pd.DataFrame(rows, columns=columns)
trancategory.head()

  category_id category_big category_middle category_small
0       hb011        요식/유흥              요식             한식
1       hb012        요식/유흥              요식       일식/중식/양식
2       hb013        요식/유흥              요식            제과점
3       hb014        요식/유흥              요식          커피전문점
4       hb015        요식/유흥              요식          패스트푸드

In [4]:

# csv가져와서 insert
# trancategory=pd.read_csv("../trancategory.csv")

# sql = "INSERT INTO CATEGORY (CATEGORY_CODE, CATEGORY_BIG, CATEGORY_MIDDLE, CATEGORY_SMALL) VALUES (:1, :2, :3, :4)"

# two_dimensional_list = trancategory[['CODE','BIG','MIDDLE','SMALL']].values.tolist() # dataframe to 2darray
# for data in two_dimensional_list:
#     cursor.execute(sql, data)

# connection.commit()
# cursor.close()
# connection.close()

In [115]:
# tranCategory=trancategory.category_small.values.tolist()

In [78]:
serviceList1 = ['한식','일식/중식/양식'] # 한식, 일식/중식/양식
costList1 = [8000,10000,12000,15000,18000,25000,29000,32000,38000,46000,50000]
weightsList1=[20,20,20,20,20,15,15,15,10,10,10]

serviceList2 = ['제과점','커피전문점','패스트푸드']  # 제과점, 커피전문점, 패스트푸드
costList2 = [1800,2500,4100,3800,5600,7900,8800,9200,10500,12000,15000,18000]
weightsList2=[20,20,20,20,20,20,20,20,20,15,15,15]

serviceList3 = ['노래방'] # 노래방
costList3 = [2000,3000,5000,8000,10000]
weightsList3=[20,20,20,15,15]

serviceList4 = ['기타유흥업소']  # 기타유흥업소
costList4 = [500000,700000,800000,1000000,1500000]
weightsList4=[20,20,20,15,15]

serviceList5 = ['유흥주점']  # 유흥주점
costList5 = [43000,52000,68000,73000,89000,125000,150000]
weightsList5=[20,20,20,20,15,15,15]

serviceList6= ['백화점'] # 백화점
costList6 = [32000,43000,52000,68000,73000,88000]
weightsList6=[20,20,20,20,15,15]

serviceList7= ['할인점']# 할인점 
costList7 = [3000,6500,8800,14000]
weightsList7=[20,30,20,20]

serviceList8= ['자동차서비스', '자동차용품'] # 자동차서비스 자동차용품

serviceList9= ['슈퍼마켓', '생활잡화'] # 슈퍼마켓 생활잡화
costList9 = [12000, 21000,45000,57000,75000,89000]
weightsList9=[20,25,20,20,15,10]


serviceList10=['편의점'] # 편의점 random
serviceList11=['정육점', '농수산물', '음/식료품'] #정육점 농수산물 기타음/식료품
serviceList12=['의복/의류',  '패션/잡화','안경'] # 의복/의류 패션/잡화  안경
serviceList13=['귀금속'] # 귀금속 2000000 ~2000000
serviceList14=['실내골프/헬스', '실외골프/스키', '스포츠시설', '종합레저시설'] # 실내골프/헬스 실외골프/스키 스포츠시설 종합레저시설

serviceList15=['영화/공연'] #영화/공연 
costList15 = [12000, 15000,20000,30000,89000,124000,149000]
weightsList15=[35,40,30,10,10,5,5]

serviceList16=['취미/오락'] #취미/오락 5000 50000
serviceList17=['서점'] #서점 random 10000 30000
serviceList18=['호텔/콘도'] # 호텔/콘도 random 200000~8000000

serviceList19=['모텔/여관'] # 모텔/여관/기타숙박 random
costList19 = [50000, 80000,100000,150000]
weightsList19=[30,30,25,5]


serviceList20=['종합병원', '일반병원', '치과병원', '한의원', '약국'] # 병원 random.randint(40, 300)*100

serviceList21=['학원'] # 학원
costList21 = [200000,2500000,300000,380000]
weightsList21=[20,20,10,10]

serviceList22=['유아교육', '교육용품'] # 유아교육 교육용품 random 
costList22 = [30000,50000,80000,100000,120000]
weightsList22=[20,20,20,15,15]


serviceList23=['가전', '가구'] # 가전/가구
costList23 = [150000,250000,590000,700000]
weightsList23=[20,20,10,10]

serviceList24=['주유소', 'LPG'] # 주유
costList24 = [20000,30000,50000,80000,1000000]
weightsList24=[20,40,35,20,15]

serviceList25=['여행사'] #여행사 random.randint(100, 1000)*1000

serviceList26=['면세점'] #면세점 random.randint(100, 500)*1000

serviceList27=['미용서비스', '미용실'] #미용서비스, 미용실
costList27 = [18000,20000,25000,50000,80000,150000]
weightsList27=[30,30,40,20,15,10]

serviceList28=['화장품','생활서비스', '세탁소', '업무서비스'] # 화장품 생활서비스, 세탁소, 업무서비스 random.randint(20, 100)*1000

In [118]:
trancategory=pd.read_csv("fdsdata.csv")
tranCategory=trancategory.SMALL.values.tolist()

In [48]:


transWeight_20_F=[]
transWeight_30_M=[]





for i in range(len(trancategory['20F'])):
    transWeight_20_F.append(trancategory['20F'][i])

for i in range(len(trancategory['30M'])):
    transWeight_30_M.append(trancategory['30M'][i])




transWeight_20_F=tuple(transWeight_20_F)
transWeight_30_M=tuple(transWeight_30_M)

In [28]:
def select_trans_weight(age, gender):
    if 20 <= age < 30:
        if gender == 'M':
            return transWeight_20_M
        elif gender == 'F':
            return transWeight_20_F
    elif 30 <= age < 40:
        if gender == 'M':
            return transWeight_30_M
        elif gender == 'F':
            return transWeight_30_F
    elif 40 <= age < 50:
        if gender == 'M':
            return transWeight_40_M
        elif gender == 'F':
            return transWeight_40_F
    elif 50 <= age < 60:
        if gender == 'M':
            return transWeight_50_M
        elif gender == 'F':
            return transWeight_50_F
    elif age >= 60:
        if gender == 'M':
            return transWeight_60_M
        elif gender == 'F':
            return transWeight_60_F
    
    return transWeight_20_F

In [29]:
def gen_cost(costList,weightsList):
    cost=random.choices(costList, weights=weightsList,k=1)[0]
    return cost

In [30]:
def gen_date(start_date,end_date):
    
    random_date = start_date + timedelta(days=random.randint(0, (end_date - start_date).days))
    return random_date.strftime('%Y/%m/%d')


def gen_time(cust_start_hour, cust_start_minute, cust_end_hour, cust_end_minute):
    
    start_time_minutes = cust_start_hour * 60 + cust_start_minute
    end_time_minutes = cust_end_hour * 60 + cust_end_minute
    

    random_time_minutes = random.randint(start_time_minutes, end_time_minutes)

    random_hour = random_time_minutes // 60
    random_minute = random_time_minutes % 60

    return f'{random_hour:02d}:{random_minute:02d}:00'

In [31]:
trancategory.head()

    CODE    BIG MIDDLE     SMALL  20F  30M  50F
0  hb011  요식/유흥     요식        한식   70   60   55
1  hb012  요식/유흥     요식  일식/중식/양식   70   40   45
2  hb013  요식/유흥     요식       제과점   60   30   30
3  hb014  요식/유흥     요식     커피전문점   70   40   20
4  hb015  요식/유흥     요식     패스트푸드   70   20   10

In [32]:
# 고객가입일자
reg_start_day = 1
reg_start_month = 1
reg_start_year = 2018

reg_end_day = 30
reg_end_month = 5
reg_end_year = 2020

reg_start_date = datetime(reg_start_year, reg_start_month, reg_start_day)
reg_end_date = datetime(reg_end_year, reg_end_month, reg_end_day)


# 카드 등록일자
card_start_day = 1
card_start_month = 1
card_start_year = 2021


card_end_day = 1
card_end_month = 5
card_end_year = 2022

card_start_date = datetime(card_start_year, card_start_month, card_start_day)
card_end_date = datetime(card_end_year, card_end_month, card_end_day)


# 소비내역일자 3개월씩
cust_start_day1 = 1
cust_start_month1 = 3
cust_start_year1 = 2023

cust_end_day1 = 10
cust_end_month1 = 10
cust_end_year1 = 2023

cust_start_date1 = datetime(cust_start_year1, cust_start_month1, cust_start_day1)
cust_end_date1 = datetime(cust_end_year1, cust_end_month1, cust_end_day1)


# cust_start_day2 = 2
# cust_start_month2 = 6
# cust_start_year2 = 2023

# cust_end_day2 = 1
# cust_end_month2 = 9
# cust_end_year2 = 2023

# cust_start_date2 = datetime(cust_start_year2, cust_start_month2, cust_start_day2)
# cust_end_date2 = datetime(cust_end_year2, cust_end_month2, cust_end_day2)

cust_end_date1

datetime.datetime(2023, 10, 10, 0, 0)

In [33]:
customerSql = "INSERT INTO MEMBER(EMAIL, NAME,PASSWORD,PHONE,GENDER,ADDRESS,IDENTITYNUM,AGE,REGDATE) VALUES(:1,:2,:3,:4,:5,:6,:7,:8,:9)"
cardSql = "INSERT INTO CARD(CARDID,EMAIL,CARDCVC,CARDPASSWORD,CARDREGDATE,AMOUNTLIMIT,FDSSERSTATUS,SELFFDSSERSTATUS) VALUES(:1,:2,:3,:4,:5,:6,:7,:8)"
cardHistSql = "INSERT INTO CARDHISTORY (CARDHISID, CARDID, CATEGORYBIG, CATEGORYSMALL, REGIONNAME,STORE,CARDHISDATE,CARDHISTIME,AMOUNT) VALUES (CARD_HIS_ID_SEQ.NEXTVAL,:1, :2, :3, :4,:5, :6, :7,:8)"

In [34]:
identity = fake.ssn()
calAge = '19'+identity[0:2]
age = 2023-int(calAge)
print(age)
if age<20  or age>85:
    print("mm")

84

In [35]:
def generate_card_history(cursor, cardnumber,target_category_big, cat, storeAddress, cust_start_date, cust_end_date):
    if cat in serviceList1: # 한식, 일식/중식/양식
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,30),gen_cost(costList1,weightsList1)))
    elif cat in serviceList2:  # 제과점, 커피전문점, 패스트푸드
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(8,30,21,30),gen_cost(costList2,weightsList2)))
    elif cat in serviceList3: # 노래방
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(19,30,21,30),gen_cost(costList3,weightsList3)))
    elif cat in serviceList4: # 기타유흥업소
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(21,00,24,00),gen_cost(costList4,weightsList4)))
    elif cat in serviceList5: # 유흥주점
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(20,00,24,00),random.randint(20, 300)*100))
    elif cat in serviceList6: # 백화점
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,00),gen_cost(costList6,weightsList6)))
    elif cat in serviceList7: # 할인점 
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(10,30,21,30),gen_cost(costList7,weightsList7)))
    elif cat in serviceList8: # 자동차서비스 자동차용품
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(11,30,18,00),random.randint(20, 150)*1000))
    elif cat in serviceList9: # 슈퍼마켓 생활잡화
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(9,30,20,30),gen_cost(costList9,weightsList9)))
    elif cat in serviceList10: # 편의점 random
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(00,00,24,00),random.randint(20, 300)*100))
    elif cat in serviceList11: #정육점 농수산물 기타음/식료품
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(11,30,21,00),random.randint(25, 50)*1000))
    elif cat in serviceList12: # 의복/의류 패션/잡화  안경
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(10,30,21,30),random.randint(40, 150)*1000))
    elif cat in serviceList13: # 귀금속
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(10,30,20,30),random.randint(20, 150)*10000))
    elif cat in serviceList14: # 실내골프/헬스 실외골프/스키 스포츠시설 종합레저시설
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(16,30,21,30),random.randint(30, 100)*1000))
    elif cat in serviceList15: #영화/공연 
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(18,30,22,00),gen_cost(costList15,weightsList15)))
    elif cat in serviceList16: #취미/오락
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(19,30,20,30),random.randint(50, 500)*100))
    elif cat in serviceList17: #서점
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(11,30,21,30),random.randint(100, 400)*100))
    elif cat in serviceList18: # 호텔/콘도
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(15,00,18,30),random.randint(200, 500)*1000))
    elif cat in serviceList19: # 모텔/여관/기타숙박
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(19,30,24,00),gen_cost(costList19,weightsList19)))
    elif cat in serviceList20: # 병원
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(9,30,17,30),random.randint(40, 300)*100))
    elif cat in serviceList21: # 학원
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(17,30,21,30),gen_cost(costList21,weightsList21)))
    elif cat in serviceList22: # 유아교육 교육용품
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,30),gen_cost(costList22,weightsList22)))
    elif cat in serviceList23: # 가전/가구
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(11,30,20,30),gen_cost(costList23,weightsList23)))
    elif cat in serviceList24: # 주유
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(7,30,23,00),gen_cost(costList24,weightsList24)))
    elif cat in serviceList25: #여행사
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(10,30,20,30),random.randint(100, 1000)*1000))
    elif cat in serviceList26: #면세점
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(10,30,17,30),random.randint(100, 500)*1000))
    elif cat in serviceList27: #미용서비스, 미용실
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(12,30,21,00),gen_cost(costList27,weightsList27)))
    elif cat in serviceList28: # 화장품 생활서비스, 세탁소, 업무서비스
        cursor.execute(cardHistSql, (cardnumber,target_category_big,cat,storeAddress,fake.company(),gen_date(cust_start_date,cust_end_date),gen_time(10,00,19,30),random.randint(20, 100)*1000))

In [31]:

connection = cx_Oracle.connect(user='scott', password='tiger', dsn='192.168.119.119:1521/dink11.dbsvr')
cursor = connection.cursor()

memberCnt=0
while(memberCnt<=1):
    
    # # 멤버 정보 만들기
    # name = ''
    # address = fake.address()
    # regDate = gen_date(reg_start_date,reg_end_date)
    # identity = fake.ssn()
    # password = fake.password() 
    # gender =''
    # phonenumber = fake.phone_number()
    # email = fake.unique.ascii_free_email()
    # calAge = '19'+identity[0:2]
    # age = 2023-int(calAge)


    # if age<20  or age>85:
    #     continue
    
    # memberCnt=memberCnt+1
    
    
    # if(identity[7:].startswith('1') or identity[7:].startswith('3')):
    #     gender = "M"
    #     name = fake.name_male()
    # else:
    #     gender = "F"
    #     name = fake.name_female()

    # cursor.execute(customerSql,(email,name,password,phonenumber,gender,address,identity,age,regDate))
    
    # card정보만들기
    cardRegDate = gen_date(card_start_date, card_end_date)

    cardnumber = str(random.randrange(1000,9999)) + "-" +  str(random.randrange(1000,9999))  + "-" +str(random.randrange(1000,9999)) + "-" + str(random.randrange(1000,9999))

    cardCVC = str(random.randrange(100,999))

    cardpassword = str(random.randrange(1000,9999))

    cardpassword = str(random.randrange(1000,9999))
    
    cursor.execute(cardSql,('9440-9469-2724-7629','pooh5045@gmail.com',cardCVC,cardpassword,cardRegDate,cardpassword,'Y','Y'))
    
    
    # 소비내역 만들기
    
    # splitted_address = address.split()
    # storeAddress=splitted_address[0]
    
    
    for i in range(600):
        cat1=random.choices(tranCategory,weights=select_trans_weight(20,'F'),k=1)[0]
        filtered_rows = trancategory[trancategory['SMALL'] == cat1]
        target_category_big = filtered_rows.iloc[0]['BIG']
        generate_card_history(cursor, cardnumber, target_category_big, cat1, '서울특별시', cust_start_date1, cust_end_date1)
        # cat2=random.choices(tranCategory,weights=select_trans_weight_2(age,gender),k=1)[0]
        # generate_card_history(cursor, cardnumber, cat2, storeAddress, cust_start_date2, cust_end_date2)
                
    
    if (memberCnt%50)==0:
        print(memberCnt)
        connection.commit()
              
connection.commit()
cursor.close()
connection.close()

In [17]:
regDate = gen_date(reg_start_date,reg_end_date)
regDate

'2018/04/03'

In [119]:
connection = cx_Oracle.connect(user='scott', password='tiger', dsn='192.168.119.119:1521/dink11.dbsvr')
cursor = connection.cursor()
# cursor.execute(customerSql,('pooh5045@gmail.com','심민정','dddd','010-5043-7629','F','경기도 광명시 일직동','981223-2012345',25,'2022/03/11'))


# 멤버 정보 만들기
name = ''
address = fake.address()
regDate = gen_date(reg_start_date,reg_end_date)
identity = fake.ssn()
password = fake.password() 
gender =''
phonenumber = fake.phone_number()
email = fake.unique.ascii_free_email()
calAge = '19'+identity[0:2]
age = 2023-int(calAge)


# if age<20  or age>85:
#     continue



if(identity[7:].startswith('1') or identity[7:].startswith('3')):
    gender = "M"
    name = fake.name_male()
else:
    gender = "F"
    name = fake.name_female()

cursor.execute(customerSql,('hong1@naver.com','홍하나','dddd',phonenumber,'M','인천광역시 청라시','921025-1054251',32,regDate))


    
    # card정보만들기
cardRegDate = gen_date(card_start_date, card_end_date)

cardnumber = str(random.randrange(1000,9999)) + "-" +  str(random.randrange(1000,9999))  + "-" +str(random.randrange(1000,9999)) + "-" + str(random.randrange(1000,9999))

cardCVC = str(random.randrange(100,999))

cardpassword = str(random.randrange(1000,9999))

cardpassword = str(random.randrange(1000,9999))

cursor.execute(cardSql,('9751-1546-4512-5043','hong1@naver.com',cardCVC,cardpassword,cardRegDate,cardpassword,'Y','Y'))


# 소비내역 만들기

for i in range(600):
    cat1=random.choices(tranCategory,weights=select_trans_weight(32,'M'),k=1)[0]
    filtered_rows = trancategory[trancategory['SMALL'] == cat1]
    target_category_big = filtered_rows.iloc[0]['BIG']
    generate_card_history(cursor, '9751-1546-4512-5043', target_category_big, cat1, '인천광역시', cust_start_date1, cust_end_date1)
connection.commit()
cursor.close()
connection.close()

In [111]:
cat1=random.choices(tranCategory,weights=select_trans_weight(32,'M'),k=1)[0]
print(cat1)
filtered_rows = trancategory[trancategory['SMALL'] == cat1]
target_category_big = filtered_rows.iloc[0]['BIG']

print(filtered_rows)
print(target_category_big)

유흥업소

IndexError: single positional indexer is out-of-bounds

In [ ]:
cursor.execute(cardSql,('9440-9469-2724-7629','pooh5045@gmail.com',cardCVC,cardpassword,cardRegDate,cardpassword,'Y','Y'))

In [42]:
# 소비내역 만들기
connection = cx_Oracle.connect(user='scott', password='tiger', dsn='192.168.119.119:1521/dink11.dbsvr')
cursor = connection.cursor()
for i in range(500):
    cat1=random.choices(tranCategory,weights=select_trans_weight(25,'F'),k=1)[0]
    filtered_rows = trancategory[trancategory['SMALL'] == cat1]
    target_category_big = filtered_rows.iloc[0]['BIG']
    generate_card_history(cursor, '9440-9469-2724-7629', target_category_big, cat1, '서울특별시', cust_start_date1, cust_end_date1)
connection.commit()
cursor.close()
connection.close()

In [22]:
cat1=random.choices(tranCategory,weights=select_trans_weight(25,'F'),k=1)[0]
filtered_rows = trancategory[trancategory['SMALL'] == cat1]
target_category_big = filtered_rows.iloc[0]['BIG']
# print(cat1)
# print(filtered_rows)
print(target_category_big)

요식

In [ ]:
generate_card_history(cursor, cardnumber, target_category_big, cat1, '서울특별시', cust_start_date1, cust_end_date1)

In [133]:
# connection.commit()
cursor.close()
connection.close()

InterfaceError: not open